*{
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: "MyFont"; src: url('_ttf/font00.otf');
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0; left: 0;
    background-image: url('../_res/img_bg.jpg');
    background-size: 100%;
}

main{
    width: 80%;
    padding: 10% 2%;
    margin-left: 8%;
    background: #fff;
    margin-top: 9%;
    box-shadow: 0px 2px 3px #000;
}

header{
    width: 100%;
    margin: 2% 0;
}

header h1, h2{
    width: 100%;
    text-align: center;
    font-family: MyFont;
    font-size: 8vw;
    color: #000;
}header h2{font-size: 3vw;}


img{
    margin: 30% 0 15% 0;
    width: 46%;
    margin-left: 10%;
}

a{
    display: block;
    width: 60%;
    padding: 2% 0;
    text-align: center;
    font-family: MyFont;
    font-size: 5.6vw;
    color: #f60000;
    margin: 5% 0 4% 24%;
    text-decoration: none;
}